.title{
    font-size: 35px;
}
.little{
    font-size: 15px;

}
.width-small{
width:380px;

}
.width-small2{
width:370px;

}


@media screen and (max-width:900px){
    .title{
        font-size: 25px;
    }
    .little{
        font-size: 13px;
    
    }
    .little2{
        font-size: 14px !important;
    
    }
    .width-small2{
    width:300px;
    
    }
    
    }